* {
  transition: ease-in-out opacity 1.2s;
}

@import '~react-image-gallery/styles/css/image-gallery.css';

.click-me {
  cursor: pointer;
}

.custom-overlay__caption {
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 240px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  padding: 2px;
  font-size: 90%;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 6500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.hover-expand {
  transition: 0.6s transform ease-in-out;
  transform: scale(1);
}

.hover-expand:hover {
  transform: scale(1.1);
}

.conic-border-active {
  border: 0.35rem solid;

  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    60;
  animation: borderRotate var(--d) linear infinite forwards;
}

.conic-border:hover {
  border: 0.35rem solid;

  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.conic-border:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

.magicpattern {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url('data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 2000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3Cfilter id=%22b%22 x=%22-200%25%22 y=%22-200%25%22 width=%22500%25%22 height=%22500%25%22%3E%3CfeGaussianBlur in=%22SourceGraphic%22 stdDeviation=%2220%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cpath fill=%22%23000336%22 d=%22M0 0h2000v1000H0z%22%2F%3E%3Cellipse cx=%22116.696%22 cy=%221.041%22 rx=%221.51%22 ry=%221.476%22 fill=%22%23fff%22 opacity=%22.56%22%2F%3E%3Cellipse cx=%22250.004%22 cy=%2230.307%22 rx=%221.983%22 ry=%221.699%22 fill=%22%23fff%22 opacity=%22.287%22%2F%3E%3Cellipse cx=%22498.133%22 cy=%2255.232%22 rx=%221.737%22 ry=%221.599%22 fill=%22%23fff%22 opacity=%22-.088%22%2F%3E%3Cellipse cx=%22797.073%22 cy=%2272.884%22 rx=%221.697%22 ry=%221.419%22 fill=%22%23fff%22 opacity=%22.343%22%2F%3E%3Cellipse cx=%22967.879%22 cy=%2260.869%22 rx=%221.508%22 ry=%221.122%22 fill=%22%23fff%22 opacity=%22-.085%22%2F%3E%3Cellipse cx=%221043.067%22 cy=%222.549%22 rx=%221.823%22 ry=%221.817%22 fill=%22%23fff%22 opacity=%22.507%22%2F%3E%3Cellipse cx=%221395.021%22 cy=%2228.352%22 rx=%221.62%22 ry=%221.213%22 fill=%22%23fff%22 opacity=%22.05%22%2F%3E%3Cellipse cx=%221503.52%22 cy=%22.727%22 rx=%222.048%22 ry=%221.777%22 fill=%22%23fff%22 opacity=%22.586%22%2F%3E%3Cellipse cx=%221753.788%22 cy=%2242.661%22 rx=%222.042%22 ry=%221.671%22 fill=%22%23fff%22 opacity=%22.469%22%2F%3E%3Cellipse cx=%221988.335%22 cy=%2242.715%22 rx=%221.406%22 ry=%221.403%22 fill=%22%23fff%22 opacity=%22.507%22%2F%3E%3Cellipse cx=%22155.594%22 cy=%22160.184%22 rx=%221.753%22 ry=%221.445%22 fill=%22%23fff%22 opacity=%22.396%22%2F%3E%3Cellipse cx=%22239.278%22 cy=%22199.965%22 rx=%221.309%22 ry=%221.036%22 fill=%22%23fff%22 opacity=%22-.083%22%2F%3E%3Cellipse cx=%22583.244%22 cy=%22112.457%22 rx=%222.219%22 ry=%221.882%22 fill=%22%23fff%22 opacity=%22.394%22%2F%3E%3Cellipse cx=%22622.126%22 cy=%22117.374%22 rx=%221.865%22 ry=%221.555%22 fill=%22%23fff%22 opacity=%22.732%22%2F%3E%3Cellipse cx=%22831.5%22 cy=%22118.345%22 rx=%221.626%22 ry=%221.134%22 fill=%22%23fff%22 opacity=%22.616%22%2F%3E%3Cellipse cx=%221188.887%22 cy=%22125.666%22 rx=%222.114%22 ry=%221.816%22 fill=%22%23fff%22 opacity=%22.254%22%2F%3E%3Cellipse cx=%221202.026%22 cy=%22182.429%22 rx=%221.863%22 ry=%221.814%22 fill=%22%23fff%22 opacity=%22-.146%22%2F%3E%3Cellipse cx=%221576.074%22 cy=%22138.85%22 rx=%222.153%22 ry=%221.948%22 fill=%22%23fff%22 opacity=%22.112%22%2F%3E%3Cellipse cx=%221728.742%22 cy=%22165.94%22 rx=%221.753%22 ry=%221.489%22 fill=%22%23fff%22 opacity=%22.484%22%2F%3E%3Cellipse cx=%221977.789%22 cy=%22127.053%22 rx=%221.385%22 ry=%221.173%22 fill=%22%23fff%22 opacity=%22.388%22%2F%3E%3Cellipse cx=%2289.632%22 cy=%22202.267%22 rx=%221.441%22 ry=%221.169%22 fill=%22%23fff%22 opacity=%22.371%22%2F%3E%3Cellipse cx=%22301.995%22 cy=%22275.273%22 rx=%221.693%22 ry=%221.478%22 fill=%22%23fff%22 opacity=%22.176%22%2F%3E%3Cellipse cx=%22409.264%22 cy=%22206.537%22 rx=%221.571%22 ry=%221.161%22 fill=%22%23fff%22 opacity=%22.338%22%2F%3E%3Cellipse cx=%22770.561%22 cy=%22225.374%22 rx=%222.14%22 ry=%221.961%22 fill=%22%23fff%22 opacity=%22.244%22%2F%3E%3Cellipse cx=%22874.508%22 cy=%22246.686%22 rx=%221.844%22 ry=%221.76%22 fill=%22%23fff%22 opacity=%22.697%22%2F%3E%3Cellipse cx=%221140.656%22 cy=%22296.702%22 rx=%221.919%22 ry=%221.828%22 fill=%22%23fff%22 opacity=%22.234%22%2F%3E%3Cellipse cx=%221305.677%22 cy=%22222.088%22 rx=%221.987%22 ry=%221.774%22 fill=%22%23fff%22 opacity=%22.241%22%2F%3E%3Cellipse cx=%221489.567%22 cy=%22278.165%22 rx=%222.026%22 ry=%221.887%22 fill=%22%23fff%22 opacity=%22.135%22%2F%3E%3Cellipse cx=%221769.576%22 cy=%22251.813%22 rx=%221.837%22 ry=%221.608%22 fill=%22%23fff%22 opacity=%22.013%22%2F%3E%3Cellipse cx=%221836.04%22 cy=%22202.878%22 rx=%221.874%22 ry=%221.656%22 fill=%22%23fff%22 opacity=%22.438%22%2F%3E%3Cellipse cx=%2279.488%22 cy=%22307.183%22 rx=%221.242%22 ry=%221.149%22 fill=%22%23fff%22 opacity=%22-.172%22%2F%3E%3Cellipse cx=%22338.54%22 cy=%22337.789%22 rx=%221.553%22 ry=%221.528%22 fill=%22%23fff%22 opacity=%22.587%22%2F%3E%3Cellipse cx=%22421.753%22 cy=%22384.145%22 rx=%221.345%22 ry=%221.23%22 fill=%22%23fff%22 opacity=%22.369%22%2F%3E%3Cellipse cx=%22658.947%22 cy=%22330.509%22 rx=%221.515%22 ry=%221.149%22 fill=%22%23fff%22 opacity=%22.649%22%2F%3E%3Cellipse cx=%22846.867%22 cy=%22395.856%22 rx=%222.283%22 ry=%221.783%22 fill=%22%23fff%22 opacity=%22.279%22%2F%3E%3Cellipse cx=%221179.555%22 cy=%22354.293%22 rx=%221.471%22 ry=%221.274%22 fill=%22%23fff%22 opacity=%22.427%22%2F%3E%3Cellipse cx=%221326.99%22 cy=%22369.824%22 rx=%221.568%22 ry=%221.328%22 fill=%22%23fff%22 opacity=%22.266%22%2F%3E%3Cellipse cx=%221482.083%22 cy=%22306.826%22 rx=%221.552%22 ry=%221.442%22 fill=%22%23fff%22 opacity=%22.75%22%2F%3E%3Cellipse cx=%221740.709%22 cy=%22357.773%22 rx=%222.137%22 ry=%221.945%22 fill=%22%23fff%22 opacity=%22.268%22%2F%3E%3Cellipse cx=%221843.941%22 cy=%22366.006%22 rx=%221.599%22 ry=%221.17%22 fill=%22%23fff%22 opacity=%22.746%22%2F%3E%3Cellipse cx=%22142.898%22 cy=%22489.886%22 rx=%221.974%22 ry=%221.688%22 fill=%22%23fff%22 opacity=%22.67%22%2F%3E%3Cellipse cx=%22298.647%22 cy=%22495.575%22 rx=%221.739%22 ry=%221.735%22 fill=%22%23fff%22 opacity=%22.127%22%2F%3E%3Cellipse cx=%22574.791%22 cy=%22433.752%22 rx=%222.049%22 ry=%221.636%22 fill=%22%23fff%22 opacity=%22.925%22%2F%3E%3Cellipse cx=%22709.729%22 cy=%22437.933%22 rx=%221.933%22 ry=%221.54%22 fill=%22%23fff%22 opacity=%22.294%22%2F%3E%3Cellipse cx=%22917.288%22 cy=%22455.94%22 rx=%221.449%22 ry=%221.059%22 fill=%22%23fff%22 opacity=%22.491%22%2F%3E%3Cellipse cx=%221029.37%22 cy=%22434.049%22 rx=%222.113%22 ry=%221.757%22 fill=%22%23fff%22 opacity=%22.117%22%2F%3E%3Cellipse cx=%221225.349%22 cy=%22456.103%22 rx=%221.707%22 ry=%221.346%22 fill=%22%23fff%22 opacity=%22.072%22%2F%3E%3Cellipse cx=%221572.237%22 cy=%22470.682%22 rx=%221.657%22 ry=%221.591%22 fill=%22%23fff%22 opacity=%22.231%22%2F%3E%3Cellipse cx=%221797.291%22 cy=%22465.25%22 rx=%221.394%22 ry=%221.311%22 fill=%22%23fff%22 opacity=%22.578%22%2F%3E%3Cellipse cx=%221872.366%22 cy=%22443.331%22 rx=%222.168%22 ry=%221.899%22 fill=%22%23fff%22 opacity=%22.803%22%2F%3E%3Cellipse cx=%2253.037%22 cy=%22578.726%22 rx=%221.386%22 ry=%221.311%22 fill=%22%23fff%22 opacity=%22.075%22%2F%3E%3Cellipse cx=%22260.307%22 cy=%22583.561%22 rx=%221.948%22 ry=%221.492%22 fill=%22%23fff%22 opacity=%22.096%22%2F%3E%3Cellipse cx=%22528.324%22 cy=%22574.971%22 rx=%221.322%22 ry=%221.073%22 fill=%22%23fff%22 opacity=%22.565%22%2F%3E%3Cellipse cx=%22725.631%22 cy=%22575.344%22 rx=%221.963%22 ry=%221.606%22 fill=%22%23fff%22 opacity=%22.233%22%2F%3E%3Cellipse cx=%22939.421%22 cy=%22598.959%22 rx=%221.668%22 ry=%221.172%22 fill=%22%23fff%22 opacity=%22-.07%22%2F%3E%3Cellipse cx=%221002.599%22 cy=%22591.08%22 rx=%221.603%22 ry=%221.113%22 fill=%22%23fff%22 opacity=%22-.098%22%2F%3E%3Cellipse cx=%221382.13%22 cy=%22516.028%22 rx=%221.348%22 ry=%221.277%22 fill=%22%23fff%22 opacity=%22.483%22%2F%3E%3Cellipse cx=%221509.432%22 cy=%22522.24%22 rx=%221.375%22 ry=%221.261%22 fill=%22%23fff%22 opacity=%22.626%22%2F%3E%3Cellipse cx=%221703.876%22 cy=%22577.822%22 rx=%221.761%22 ry=%221.489%22 fill=%22%23fff%22 opacity=%22.669%22%2F%3E%3Cellipse cx=%221819.496%22 cy=%22599.86%22 rx=%221.269%22 ry=%221.003%22 fill=%22%23fff%22 opacity=%22.08%22%2F%3E%3Cellipse cx=%22172.946%22 cy=%22660.643%22 rx=%221.461%22 ry=%221.256%22 fill=%22%23fff%22 opacity=%22.094%22%2F%3E%3Cellipse cx=%22320.344%22 cy=%22620.273%22 rx=%221.857%22 ry=%221.548%22 fill=%22%23fff%22 opacity=%22-.011%22%2F%3E%3Cellipse cx=%22496.306%22 cy=%22627.175%22 rx=%221.481%22 ry=%221.067%22 fill=%22%23fff%22 opacity=%22.762%22%2F%3E%3Cellipse cx=%22757.769%22 cy=%22679.477%22 rx=%221.19%22 ry=%221.087%22 fill=%22%23fff%22 opacity=%22.684%22%2F%3E%3Cellipse cx=%22895.153%22 cy=%22646.678%22 rx=%222.087%22 ry=%221.697%22 fill=%22%23fff%22 opacity=%22.001%22%2F%3E%3Cellipse cx=%221160.747%22 cy=%22613.209%22 rx=%221.974%22 ry=%221.683%22 fill=%22%23fff%22 opacity=%22.115%22%2F%3E%3Cellipse cx=%221216.753%22 cy=%22674.298%22 rx=%221.516%22 ry=%221.127%22 fill=%22%23fff%22 opacity=%22.906%22%2F%3E%3Cellipse cx=%221435.437%22 cy=%22699.943%22 rx=%221.672%22 ry=%221.598%22 fill=%22%23fff%22 opacity=%22.63%22%2F%3E%3Cellipse cx=%221770.185%22 cy=%22643.886%22 rx=%221.942%22 ry=%221.584%22 fill=%22%23fff%22 opacity=%22-.048%22%2F%3E%3Cellipse cx=%221933.876%22 cy=%22667.897%22 rx=%221.364%22 ry=%221.241%22 fill=%22%23fff%22 opacity=%22.423%22%2F%3E%3Cellipse cx=%2238.704%22 cy=%22796.854%22 rx=%221.528%22 ry=%221.118%22 fill=%22%23fff%22 opacity=%22.802%22%2F%3E%3Cellipse cx=%22201.323%22 cy=%22731.543%22 rx=%221.706%22 ry=%221.581%22 fill=%22%23fff%22 opacity=%22-.13%22%2F%3E%3Cellipse cx=%22522.349%22 cy=%22740.85%22 rx=%221.271%22 ry=%221.197%22 fill=%22%23fff%22 opacity=%22.774%22%2F%3E%3Cellipse cx=%22681.383%22 cy=%22737.282%22 rx=%221.227%22 ry=%221.146%22 fill=%22%23fff%22 opacity=%22.517%22%2F%3E%3Cellipse cx=%22973.32%22 cy=%22777.063%22 rx=%221.491%22 ry=%221.087%22 fill=%22%23fff%22 opacity=%22.268%22%2F%3E%3Cellipse cx=%221171.073%22 cy=%22742.278%22 rx=%221.822%22 ry=%221.562%22 fill=%22%23fff%22 opacity=%22.168%22%2F%3E%3Cellipse cx=%221284.394%22 cy=%22778.495%22 rx=%221.515%22 ry=%221.297%22 fill=%22%23fff%22 opacity=%22.64%22%2F%3E%3Cellipse cx=%221598.867%22 cy=%22715.19%22 rx=%222.151%22 ry=%221.899%22 fill=%22%23fff%22 opacity=%22.303%22%2F%3E%3Cellipse cx=%221624.77%22 cy=%22794.623%22 rx=%222.284%22 ry=%221.871%22 fill=%22%23fff%22 opacity=%22-.062%22%2F%3E%3Cellipse cx=%221948.245%22 cy=%22741.653%22 rx=%222.077%22 ry=%221.915%22 fill=%22%23fff%22 opacity=%22.682%22%2F%3E%3Cellipse cx=%22114.666%22 cy=%22851.793%22 rx=%222.112%22 ry=%221.644%22 fill=%22%23fff%22 opacity=%22-.003%22%2F%3E%3Cellipse cx=%22320.628%22 cy=%22857.77%22 rx=%221.92%22 ry=%221.856%22 fill=%22%23fff%22 opacity=%22.518%22%2F%3E%3Cellipse cx=%22525.29%22 cy=%22841.763%22 rx=%221.445%22 ry=%221.032%22 fill=%22%23fff%22 opacity=%22-.138%22%2F%3E%3Cellipse cx=%22601.517%22 cy=%22890.087%22 rx=%221.413%22 ry=%221.33%22 fill=%22%23fff%22 opacity=%22.536%22%2F%3E%3Cellipse cx=%22973.159%22 cy=%22833.719%22 rx=%221.649%22 ry=%221.424%22 fill=%22%23fff%22 opacity=%22.543%22%2F%3E%3Cellipse cx=%221063.849%22 cy=%22849.382%22 rx=%221.96%22 ry=%221.677%22 fill=%22%23fff%22 opacity=%22.689%22%2F%3E%3Cellipse cx=%221250.765%22 cy=%22810.261%22 rx=%221.516%22 ry=%221.079%22 fill=%22%23fff%22 opacity=%22.576%22%2F%3E%3Cellipse cx=%221579.468%22 cy=%22894.224%22 rx=%221.63%22 ry=%221.574%22 fill=%22%23fff%22 opacity=%22.672%22%2F%3E%3Cellipse cx=%221771.83%22 cy=%22856.143%22 rx=%221.389%22 ry=%221.383%22 fill=%22%23fff%22 opacity=%22.421%22%2F%3E%3Cellipse cx=%221888.85%22 cy=%22886.711%22 rx=%221.315%22 ry=%221.077%22 fill=%22%23fff%22 opacity=%22.065%22%2F%3E%3Cellipse cx=%22143.59%22 cy=%22920.513%22 rx=%221.485%22 ry=%221.126%22 fill=%22%23fff%22 opacity=%22.801%22%2F%3E%3Cellipse cx=%22324.482%22 cy=%22937.752%22 rx=%221.892%22 ry=%221.62%22 fill=%22%23fff%22 opacity=%22.777%22%2F%3E%3Cellipse cx=%22517.162%22 cy=%22979.776%22 rx=%221.714%22 ry=%221.459%22 fill=%22%23fff%22 opacity=%22.544%22%2F%3E%3Cellipse cx=%22606.198%22 cy=%22917.68%22 rx=%221.618%22 ry=%221.427%22 fill=%22%23fff%22 opacity=%22.843%22%2F%3E%3Cellipse cx=%22971.836%22 cy=%22985.404%22 rx=%221.356%22 ry=%221.068%22 fill=%22%23fff%22 opacity=%22-.183%22%2F%3E%3Cellipse cx=%221121.869%22 cy=%22991.258%22 rx=%222.295%22 ry=%221.916%22 fill=%22%23fff%22 opacity=%22-.219%22%2F%3E%3Cellipse cx=%221299.825%22 cy=%22919.089%22 rx=%221.731%22 ry=%221.672%22 fill=%22%23fff%22 opacity=%22.677%22%2F%3E%3Cellipse cx=%221471.298%22 cy=%22909.434%22 rx=%221.924%22 ry=%221.521%22 fill=%22%23fff%22 opacity=%22-.015%22%2F%3E%3Cellipse cx=%221606.972%22 cy=%22973.562%22 rx=%221.886%22 ry=%221.827%22 fill=%22%23fff%22 opacity=%22-.13%22%2F%3E%3Cellipse cx=%221922.889%22 cy=%22974.132%22 rx=%221.533%22 ry=%221.255%22 fill=%22%23fff%22 opacity=%22.648%22%2F%3E%3Cg transform=%22rotate(-64.762 385.878 -428.112)%22%3E%3Cdefs%3E%3ClinearGradient id=%22a%22 x1=%220%22 y1=%221%22 x2=%22168.321%22 y2=%221%22 gradientUnits=%22userSpaceOnUse%22%3E%3Cstop stop-color=%22%23fff%22%2F%3E%3Cstop offset=%22.3%22 stop-color=%22%23fff%22 stop-opacity=%22.1%22%2F%3E%3Cstop offset=%22.7%22 stop-color=%22%23fff%22 stop-opacity=%220%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Crect x=%22-8.416%22 y=%22-12.5%22 width=%2267.329%22 height=%2225%22 rx=%2225%22 ry=%2225%22 fill=%22url(%23a)%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22100.993%22 height=%228%22 rx=%228%22 ry=%228%22 fill=%22url(%23a)%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-61.855 823.696 -914.428)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-9.438%22 y=%22-12.5%22 width=%2275.508%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22113.262%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-60.433 518.254 158.106)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-9.462%22 y=%22-12.5%22 width=%2275.697%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22113.545%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-57.379 1330.516 -789.651)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-8.177%22 y=%22-12.5%22 width=%2265.414%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%2298.121%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3Cg transform=%22rotate(-60.155 1724.691 -1280.996)%22 fill=%22url(%23a)%22%3E%3Crect x=%22-11.447%22 y=%22-12.5%22 width=%2291.573%22 height=%2225%22 rx=%2225%22 ry=%2225%22 filter=%22url(%23b)%22 opacity=%22.4%22%2F%3E%3Crect width=%22137.36%22 height=%228%22 rx=%228%22 ry=%228%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
